<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog"
                 type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog autoReload="true"
          throwExceptions="true"
          xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="csv"
                    xsi:type="File"
                    archiveFileName="${basedir}\\Logs\\Archives\\Macu.Apply.LogMonService.{#####}.log"
                    archiveAboveSize="1048576"
                    archiveNumbering="Sequence"
                    fileName="${basedir}\\Logs\\Macu.Apply.LogMonService.log">
                <layout xsi:type="CSVLayout">
                    <column name="time" layout="${longdate}" />
                    <column name="level" layout="${level:uppercase=true}" />
                    <column name="logger" layout="${logger}" />
                    <column name="message" layout="${message}" />
                    <column name="exception" layout="${exception:innerFormat=Message,Type,Method,StackTrace:maxInnerExceptionLevel=10:format=Message,Type,Method,Stacktrace}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="*"
                    minLevel="Debug"
                    writeTo="csv" />
        </rules>
    </nlog>
    <connectionStrings>
        <add name="AppLogs"
             connectionString="Data Source=los-sql1.mtnam.org;Initial Catalog=AppLogs;Integrated Security=SSPI;" />
    </connectionStrings>
    <appSettings>
        <add key="LastReadEntryId"
             value="" />
        <add key="Interval"
             value="120000" />
        <add key="AlertRecipients"
             value="jkotrba@macu.com" />
        <add key="ClientSettingsProvider.ServiceUri"
             value="" />
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp from="jkotrba@macu.com">
                <network host="smtp.mtnam.org"
                         port="25" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>