<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="file"
              type="file"
              fileName="Macu.Apply.LogMonService.log" />
      <rules>
        <logger name="*"
                minLevel="Trace"
                writeTo="file"/>
      </rules>
    </targets>
  </nlog>
  <connectionStrings>
    <add name="AppLogs"
         connectionString="Data Source=los-sql1.mtnam.org;Initial Catalog=AppLogs;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="LastReadEntryId"
         value="108277746"/>
    <add key="Interval"
         value="120000"/>
    <add key="AlertRecipients"
         value="jkotrba@macu.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="jkotrba@macu.com">
        <network host="smtp.mtnam.org"
                 port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>